/* .todo {
  background-color: #44b8e6;
  width: 20%;
  text-align: center;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
} */

.todo.completed {
  background-color: #e7e6e6;
  text-decoration: line-through;
}
